.pokedex__header{
    padding: 0 20px;

}


.pokedex__form{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.pokedex__span{
    color: #FE1936;
    font-weight: 900;
}

.pokedex__text{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 20px;
    padding-bottom: 50px;
}

.pokedex__input{
    border: none;
    box-shadow: 0 3px 9px #00000026;
    padding: 10px 10px;

}

.pokemon__button{
    border: none;
    padding: 10px 10px;
    background-color: var(--color-red);
    color: white;
    cursor: pointer;
    height: 40px;
    width: 191px; 
    transition: 300ms transform ease;
}

.pokemon__button:hover{
    filter: brightness(1.1);
    transform: scale(1.02);
}

.pokedex__select{
    text-transform: capitalize;
    border: none;
    outline: none;
    box-shadow: 0 3px 9px #00000026;
    padding: 10px 20px;   
}

.pokedex__search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.pokedex__listPages{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.pokedex__listPages li{
    padding: 10px 12px;
    background-color: red;
    cursor: pointer;
    color: white;
    border-radius: 10px;

}
.pokedex__listPages li.actualPage{
    background-color: rgb(146,0,0);
}